<h3>For 9/23/25:</h3>
<p>Clone either of the base templates, make some scripts, then you can clone old template(s) from week 2 or 3 to test them on.</p>
<form method="POST">
    <label for="username">Username (without realm):</label>
    <input type="text" id="username" name="username" required />
    <br/><br/>

    <label for="vmid">Template to clone:</label>
    <select id="vmid" name="vmid" required>
        {% for vmid, name in vm_templates.items() %}
        <option value="{{ vmid }}">{{ name }}</option>
        {% endfor %}
    </select>

    <br/>
    <br/>
    <button type="submit">Clone to range</button>
</form>

